In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

cen_dem = pd.read_csv('C:/Users/abhis/git/sb_capstone/income/census/census-income.data',header=None)
cen_dem.columns = ['age',	'_class_of_worker',	'_industry_code',	'_occupation_code',	'_education',	'_wage_per_hour',
                   '_enrolled_in_edu_inst_last_wk',	'_marital_status',	'_major_industry_code',	'_major_occupation_code',
                   '_mace',	'_hispanic_Origin',	'_sex',	'_member_of_a_labor_union',	'_reason_for_unemployment',
                   '_full_or_part_time_employment_stat',	'_capital_gains',	'_capital_losses',	'_divdends_from_stocks',
                   '_tax_filer_status',	'_region_of_previous_residence',	'_state_of_previous_residence',
                   '_detailed_household_and_family_stat',	'_detailed_household_summary_in_household',	'_instance_weight',
                   '_migration_code-change_in_msa',	'_migration_code-change_in_reg',	'_migration_code-move_within_reg',
                   '_live_in_this_house_1_year_ago',	'_migration_prev_res_in_sunbelt',	'_num_persons_worked_for_employer',
                   '_family_members_under_18',	'_country_of_birth_father',	'_country_of_birth_mother',	'_country_of_birth_self',
                   '_citizenship',	'_total_person_income',	'_own_business_or_self_employed',
                   ' fill_inc_questionnaire',	'_veterans_benefits',	'_weeks_worked_in_year',	'Income_category'
]

cen_dem.info()

ar = pd.series(['age',	'_class_of_worker',	'_industry_code',	'_occupation_code',	'_education',	'_wage_per_hour',
                   '_enrolled_in_edu_inst_last_wk',	'_marital_status',	'_major_industry_code',	'_major_occupation_code',
                   '_mace',	'_hispanic_Origin',	'_sex',	'_member_of_a_labor_union',	'_reason_for_unemployment',
                   '_full_or_part_time_employment_stat',	'_capital_gains',	'_capital_losses',	'_divdends_from_stocks',
                   '_tax_filer_status',	'_region_of_previous_residence',	'_state_of_previous_residence',
                   '_detailed_household_and_family_stat',	'_detailed_household_summary_in_household',	'_instance_weight',
                   '_migration_code-change_in_msa',	'_migration_code-change_in_reg',	'_migration_code-move_within_reg',
                   '_live_in_this_house_1_year_ago',	'_migration_prev_res_in_sunbelt',	'_num_persons_worked_for_employer',
                   '_family_members_under_18',	'_country_of_birth_father',	'_country_of_birth_mother',	'_country_of_birth_self',
                   '_citizenship',	'_total_person_income',	'_own_business_or_self_employed',
                   ' fill_inc_questionnaire',	'_veterans_benefits',	'_weeks_worked_in_year'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 42 columns):
age                                         199523 non-null int64
_class_of_worker                            199523 non-null object
_industry_code                              199523 non-null int64
_occupation_code                            199523 non-null int64
_education                                  199523 non-null object
_wage_per_hour                              199523 non-null int64
_enrolled_in_edu_inst_last_wk               199523 non-null object
_marital_status                             199523 non-null object
_major_industry_code                        199523 non-null object
_major_occupation_code                      199523 non-null object
_mace                                       199523 non-null object
_hispanic_Origin                            199523 non-null object
_sex                                        199523 non-null object
_member_of_a_labor_union                    199523 non-null object
_reason_for_unemployment                    199523 non-null object
_full_or_part_time_employment_stat          199523 non-null object
_capital_gains                              199523 non-null int64
_capital_losses                             199523 non-null int64
_divdends_from_stocks                       199523 non-null int64
_tax_filer_status                           199523 non-null object
_region_of_previous_residence               199523 non-null object
_state_of_previous_residence                199523 non-null object
_detailed_household_and_family_stat         199523 non-null object
_detailed_household_summary_in_household    199523 non-null object
_instance_weight                            199523 non-null float64
_migration_code-change_in_msa               199523 non-null object
_migration_code-change_in_reg               199523 non-null object
_migration_code-move_within_reg             199523 non-null object
_live_in_this_house_1_year_ago              199523 non-null object
_migration_prev_res_in_sunbelt              199523 non-null object
_num_persons_worked_for_employer            199523 non-null int64
_family_members_under_18                    199523 non-null object
_country_of_birth_father                    199523 non-null object
_country_of_birth_mother                    199523 non-null object
_country_of_birth_self                      199523 non-null object
_citizenship                                199523 non-null object
_total_person_income                        199523 non-null int64
_own_business_or_self_employed              199523 non-null object
 fill_inc_questionnaire                     199523 non-null int64
_veterans_benefits                          199523 non-null int64
_weeks_worked_in_year                       199523 non-null int64
Income_category                             199523 non-null object
dtypes: float64(1), int64(12), object(29)
memory usage: 63.9+ MB

In [2]:
cen_dem.head(15)

,age,_class_of_worker,_industry_code,_occupation_code,_education,_wage_per_hour,_enrolled_in_edu_inst_last_wk,_marital_status,_major_industry_code,_major_occupation_code,...,_country_of_birth_father,_country_of_birth_mother,_country_of_birth_self,_citizenship,_total_person_income,_own_business_or_self_employed,fill_inc_questionnaire,_veterans_benefits,_weeks_worked_in_year,Income_category
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
5,48,Private,40,10,Some college but no degree,1200,Not in universe,Married-civilian spouse present,Entertainment,Professional specialty,...,Philippines,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,- 50000.
6,42,Private,34,3,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
7,28,Private,4,40,High school graduate,0,Not in universe,Never married,Construction,Handlers equip cleaners etc,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,30,95,- 50000.
8,47,Local government,43,26,Some college but no degree,876,Not in universe,Married-civilian spouse present,Education,Adm support including clerical,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
9,34,Private,4,37,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Machine operators assmblrs & inspctrs,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
10,8,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
11,32,Not in universe,0,0,High school graduate,0,Not in universe,Never married,Not in universe or children,Not in universe,...,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
12,51,Private,4,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
13,46,Private,37,31,High school graduate,0,Not in universe,Divorced,Business and repair services,Other service,...,Columbia,Columbia,Columbia,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,- 50000.
14,26,Private,24,12,Bachelors degree(BA AB BS),0,Not in universe,Never married,Manufacturing-nondurable goods,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.

In [13]:


ar = np.array(['_class_of_worker',	'_industry_code',	'_occupation_code',	'_education',	'_wage_per_hour',
                   '_enrolled_in_edu_inst_last_wk',	'_marital_status',	'_major_industry_code',	'_major_occupation_code',
                   '_mace',	'_hispanic_Origin',	'_sex',	'_member_of_a_labor_union',	'_reason_for_unemployment',
                   '_full_or_part_time_employment_stat',	'_capital_gains',	'_capital_losses',	'_divdends_from_stocks',
                   '_tax_filer_status',	'_region_of_previous_residence',	'_state_of_previous_residence',
                   '_detailed_household_and_family_stat',	'_detailed_household_summary_in_household',	'_instance_weight',
                   '_migration_code-change_in_msa',	'_migration_code-change_in_reg',	'_migration_code-move_within_reg',
                   '_live_in_this_house_1_year_ago',	'_migration_prev_res_in_sunbelt',	'_num_persons_worked_for_employer',
                   '_family_members_under_18',	'_country_of_birth_father',	'_country_of_birth_mother',	'_country_of_birth_self',
                   '_citizenship',	'_total_person_income',	'_own_business_or_self_employed',
                   ' fill_inc_questionnaire',	'_veterans_benefits',	'_weeks_worked_in_year'])

cen_dem.set_index('Income_category')

,age,_class_of_worker,_industry_code,_occupation_code,_education,_wage_per_hour,_enrolled_in_edu_inst_last_wk,_marital_status,_major_industry_code,_major_occupation_code,...,_family_members_under_18,_country_of_birth_father,_country_of_birth_mother,_country_of_birth_self,_citizenship,_total_person_income,_own_business_or_self_employed,fill_inc_questionnaire,_veterans_benefits,_weeks_worked_in_year
Income_category,,,,,,,,,,,,,,,,,,,,,
- 50000.,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95
- 50000.,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Not in universe,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95
- 50000.,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,48,Private,40,10,Some college but no degree,1200,Not in universe,Married-civilian spouse present,Entertainment,Professional specialty,...,Not in universe,Philippines,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95
- 50000.,42,Private,34,3,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,28,Private,4,40,High school graduate,0,Not in universe,Never married,Construction,Handlers equip cleaners etc,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,30,95
- 50000.,47,Local government,43,26,Some college but no degree,876,Not in universe,Married-civilian spouse present,Education,Adm support including clerical,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
- 50000.,34,Private,4,37,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Machine operators assmblrs & inspctrs,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,8,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,32,Not in universe,0,0,High school graduate,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Not in universe,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95
- 50000.,51,Private,4,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Precision production craft & repair,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,46,Private,37,31,High school graduate,0,Not in universe,Divorced,Business and repair services,Other service,...,Not in universe,Columbia,Columbia,Columbia,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94
- 50000.,26,Private,24,12,Bachelors degree(BA AB BS),0,Not in universe,Never married,Manufacturing-nondurable goods,Professional specialty,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
- 50000.,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,47,Private,39,36,Bachelors degree(BA AB BS),0,Not in universe,Never married,Personal services except private HH,Machine operators assmblrs & inspctrs,...,Not in universe,Germany,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
- 50000.,39,Not in universe,0,0,10th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Not in universe,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,0,94
- 50000.,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,El-Salvador,United-States,Native- Born in the United States,0,Not in universe,2,0,95
- 50000.,35,Private,12,41,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Handlers equip cleaners etc,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,49,95
- 50000.,12,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,27,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Construction,Precision production craft & repair,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,1,Not in universe,2,52,94
- 50000.,56,Private,35,22,Some college but no degree,500,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Adm support including clerical,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,32,95
- 50000.,46,Private,45,12,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Other professional services,Professional specialty,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,55,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Not in universe,Japan,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94
- 50000.,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Mother only present,?,?,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,37,Private,3,34,Some college but no degree,0,Not in universe,Married-civilian spouse present,Mining,Precision production craft & repair,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
- 50000.,4,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95
- 50000.,37,Private,4,2,Bachelors degree(BA AB BS),0,Not in universe,Never married,Construction,Executive admin and managerial,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
- 50000.,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,5,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,44,Self-employed-not incorporated,38,2,Some college but no degree,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,94
- 50000.,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,40,Self-employed-not incorporated,35,17,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Sales,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,95
- 50000.,50,Private,42,26,High school graduate,0,Not in universe,Married-civilian spouse present,Medical except hospital,Adm support including clerical,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
50000+.,59,Private,24,2,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Executive admin and managerial,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
- 50000.,74,State government,44,42,7th and 8th grade,0,Not in universe,Widowed,Social services,Handlers equip cleaners etc,...,Not in universe,?,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,13,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Mother only present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,50,Federal government,29,2,Some college but no degree,0,Not in universe,Married-civilian spouse present,Transportation,Executive admin and managerial,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,48,95
- 50000.,24,Private,33,29,11th grade,0,Not in universe,Never married,Retail trade,Other service,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95
- 50000.,43,Private,22,36,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,...,Not in universe,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95
- 50000.,33,Private,34,3,High school graduate,0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
- 50000.,14,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,25,Self-employed-incorporated,33,16,Some college but no degree,0,Not in universe,Never married,Retail trade,Sales,...,Not in universe,?,?,?,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,94
50000+.,62,Private,4,2,Some college but no degree,0,Not in universe,Married-spouse absent,Construction,Executive admin and managerial,...,Not in universe,Greece,United-States,United-States,Native- Born in the United States,2,Yes,1,52,95
50000+.,47,Local government,43,12,Doctorate degree(PhD EdD),0,Not in universe,Married-civilian spouse present,Education,Professional specialty,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94
- 50000.,25,Private,33,41,Some college but no degree,0,Not in universe,Never married,Retail trade,Handlers equip cleaners etc,...,Not in universe,United-States,Germany,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,47,Private,23,37,Some college but no degree,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
- 50000.,71,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95
- 50000.,57,Private,9,37,9th grade,0,Not in universe,Divorced,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,Not in universe,Dominican-Republic,Dominican-Republic,Dominican-Republic,Foreign born- Not a citizen of U S,0,Not in universe,2,52,95
- 50000.,51,Private,33,19,10th grade,0,Not in universe,Widowed,Retail trade,Sales,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,87,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,Not in universe,?,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95
- 50000.,3,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,Mother only present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94
- 50000.,39,Private,43,26,Bachelors degree(BA AB BS),0,Not in universe,Never married,Education,Adm support including clerical,...,Not in universe,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,2,Not in universe,2,52,95
- 50000.,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Not in universe,Canada,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95
- 50000.,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94
- 50000.,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Not in universe,Poland,Poland,Germany,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95
- 50000.,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95
- 50000.,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,Not in universe,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94

In [17]:

pd.crosstab(cen_dem.Income_category,cen_dem._class_of_worker)

_class_of_worker,Federal government,Local government,Never worked,Not in universe,Private,Self-employed-incorporated,Self-employed-not incorporated,State government,Without pay
Income_category,,,,,,,,,
- 50000.,2328,6937,437,99341,64706,2131,7355,3742,164
50000+.,597,847,2,904,7322,1134,1090,485,1

In [18]:
for a in ar:
    pd.crosstab(cen_dem.Income_category,cen_dem[a])